body {
    margin: 0;
}
#canvas{
    border-radius: 3px;
    margin-right: 10px;
    width: 225px;
    height: 169px;
    border-bottom: 3px solid #0063FF;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 #00000030;
}

#myvideo{
    display: none;
    
}
.tracker{
    position: absolute;
}
.data{
    position: absolute;
    color: lime;
    font-family: sans-serif;
    font-size: 10px;
    padding: 8px;
}